<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WPT">

        <test name="Dex-Trade - Pixel perfect regression">

        <classes>

            <class name="tests.marketsPageTests.HeaderTests"/>
            <class name="tests.marketsPageTests.FooterTests"/>
<!--            <class name="tests.marketsPageTests.BodyTests"/>-->
<!--            <class name="tests.marketsPageTests.AllPageFirefoxTests"/>-->
<!--            <class name="tests.marketsPageTests.AllPageChromeTests"/>-->
<!--            <class name="tests.demoTradingPageTest.AllPageFirefoxTests"/>-->
<!--            <class name="tests.demoTradingPageTest.AllPageChromeTests"/>-->
        </classes>

        </test>

</suite>